### Python Data Structures::::

Python data structures are ways to organize, manage, and store data efficiently for various operations. 
They can be broadly categorized into built-in and user-defined data structures:
Built-in Data Structures
These are provided by Python and are ready to use:


1. Lists:
Ordered, mutable (modifiable), and can store elements of different data types.
Example: my_list = [1, "apple", 3.14]

2. Tuples:
Ordered, immutable (cannot be modified after creation), and can store mixed data types.
Example: my_tuple = (1, "banana", 2.71)

3. Dictionaries:
Unordered, mutable, and store data as key-value pairs.
Example: my_dict = {"name": "Alice", "age": 25}

4. Sets:
Unordered, mutable, and store unique elements (no duplicates).
Example: my_set = {1, 2, 3}

5. Strings:
Immutable sequences of characters.
Example: my_string = "Hello"

6. Ranges:
Immutable sequences of numbers, often used in loops.
Example: range(1, 10)



### Why Use Data Structures?

Efficiently manage and process data.
Optimize performance for specific tasks (e.g., searching, sorting, or storing relationships).
Enable the implementation of complex algorithms.

PYTHON DATA STRUCTURES PRACTICE

1. lists
2. Tuples
3. Sets

In [45]:
#lists - unchangible
#creating a list called courses
courses = ["Big Data", "AI", "Data Science", "Software"]

#checking the length of list
print(len(courses))

4

In [46]:
#removing items on a list
courses.pop()   #removes last item of a list
print(courses)

['Big Data', 'AI', 'Data Science']

In [47]:
#removing item on a list
courses.remove("AI") #removes index at a specified item
print(courses)

['Big Data', 'Data Science']

In [51]:
#accessing items of a list using positive indexing
print(courses[0])
print(courses[1])
#start with the first item on the list to the last

Big Data
AI

In [52]:
#accessing items of a list using negative indexing
print(courses[-1])
print(courses[-2])
#starts with the last item on the list to the last

Data Visualization
Data Science

In [53]:
#changing an item of a list
courses = ["Big Data", "AI", "Data Science", "Software"]
courses[3] = "Data Visualization"
print(courses)

['Big Data', 'AI', 'Data Science', 'Data Visualization']

In [72]:
#accessing items one-by-one
#looping through a list
courses = ["Big Data", "AI", "Data Science", "Software"]

if course in courses:
    print("Big Data")
    
else: 
    print("Course Not Found!!!")

Big Data

In [78]:
#adding items of a list
courses = ["Big Data", "AI", "Data Science", "Software"]
courses.insert(1, "Web Technologies") #insert Web Technologies as the second item of a list
print(courses)

['Big Data', 'Web Technologies', 'AI', 'Data Science', 'Software']

In [75]:
#checking if an item exists
print("Big Data" in courses) #returns true hence Big Data is part of the list
print("Networks" in courses) #returns false because  Networks in not part of

True
False

In [56]:
#tuples - unchangeble

names = ("katlego", "Smith", "James")

In [58]:
#accessing items of a list using positive indexing
print(names[0])
print(names[1])
print(names[2])
#start with the first item on the list to the last

katlego
Smith
James

In [60]:
#accessing items of a list using negative indexing
print(names[-1])
print(names[-2])
print(names[-3])
#starts with the last item on the list to the last

James
Smith
katlego

In [61]:
#getting the length of the tuple
print(len(names))

3

In [69]:
#looping through a tuple
names = ("katlego", "Smith", "James")

if "Smith" in names:
    print(names)
    
else:
    print("Name Not Found!!!")   #returns all the items of a list, because "Smith" is part of a list

('katlego', 'Smith', 'James')

In [70]:
#looping through a tuple
names = ("katlego", "Smith", "James")

if "David" in names:
    print(names)
    
else:
    print("Name Not Found!!!")   #returns "Name Not Found!!!", because "David" is not part of a list

Name Not Found!!!

In [82]:
#combining two tuples 
name1 = ("katlego", "Smith", "James")
name2 = ("Thabo", "Tee", "Raymond")

print(name1)
print(name2)

added_tuples = name1 + name2
print(added_tuples)

('katlego', 'Smith', 'James')
('Thabo', 'Tee', 'Raymond')
('katlego', 'Smith', 'James', 'Thabo', 'Tee', 'Raymond')

In [85]:
#checking if an item exixsts in a tuple
print("Florence" in added_tuples) #returns false because Florence is not found
print("Thabo" in added_tuples) #returns true because Thabo is part of the tuple

False
True

In [88]:
#sets
#creating a set with names of colors

colors = {"red", "blue", "Violet"}

In [93]:
#getting the length of a set
print(len(colors))

3

In [90]:
#with sets you cant access your items using positive and negative indexing
#hence you must access your items one by one using a for loop

for color in colors:
    print("Black")

Black
Black
Black

In [92]:
#checking if an item exists in a set
print("black" in colors)
print("red" in colors)

False
True

In [105]:
#finding the difference between 2 sets
color1 = {"red", "blue", "Violet", "Brown"}
color2 = {"black", "Blue", "Purple","Brown"}

difference = color1 - color2
print("Difference of the 2 sets:\n", difference)

Difference of the 2 sets:
 {'red', 'blue', 'Violet'}